---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, 朋友们!</h1>
			<p>
				长久不见，欢迎来到我的博客
			</p>
			<p>
				这里主要分享一些我自己小思考，都是拙见。
			</p>
			<p>简单做一个自我介绍，方便熟悉我的朋友了解一下我对于我自己的自我认知，不认识我的的朋友快速的建立认知</p>
			<ul>
				<li>软硬件爱好者，爱好写<code>HelloWorld</code></li>
				<li>喜欢小动物，但是家里没有猫狗</li>
				<li>性格慢热，重点在慢，而不是热</li>
				<li>知识探索者，内心想法较多，发呆就是在脑袋里构建另一个世界</li>
				<li>性格测试：INFJ</li>
			</ul>
			<p>
				Have fun! 
			</p>
			<p>
				
			</p>
		</main>
		<Footer />
	</body>
</html>
